In [3]:
import pandas as pd
import numpy as np

In [50]:
data = np.array(['张三','李四','王五','赵柳'])
s = pd.Series(data,index=['S01','S02','S03','S04'])

In [51]:
s

S01    张三
S02    李四
S03    王五
S04    赵柳
dtype: object

In [43]:
s

100    张三
101    李四
102    王五
dtype: object

In [53]:
s['S01':'S03']

S01    张三
S02    李四
S03    王五
dtype: object

In [54]:
s[['S01','S03']]

S01    张三
S03    王五
dtype: object

In [55]:
data={'zs':85,'ls':95,'ww':90,'zl':83}

In [56]:
s=pd.Series(data)

In [57]:
s

zs    85
ls    95
ww    90
zl    83
dtype: int64