In [1]:
import numpy as np
import pandas as pd

In [2]:
data={'zs':85,'ls':95,'ww':90,'zl':83}

In [3]:
s=pd.Series(data)

In [4]:
s

zs    85
ls    95
ww    90
zl    83
dtype: int64

In [5]:
s.index

Index(['zs', 'ls', 'ww', 'zl'], dtype='object')

In [6]:
s.values

array([85, 95, 90, 83], dtype=int64)

In [18]:
dates = pd.Series(['2011', '2011-02', '2011-03-01', '2011/04/01', 
                   '2011/05/01 01:01:01', '01 Jun 2011'])
# to_datetime() 转换日期数据类型
dates = pd.to_datetime(dates)

In [8]:
dates

0   2011-01-01 00:00:00
1   2011-02-01 00:00:00
2   2011-03-01 00:00:00
3   2011-04-01 00:00:00
4   2011-05-01 01:01:01
5   2011-06-01 00:00:00
dtype: datetime64[ns]

In [9]:
type(dates)

pandas.core.series.Series

In [13]:
dates.dt.week

0    52
1     5
2     9
3    13
4    17
5    22
dtype: int64

In [15]:
dates.dt.weekofyear

0    52
1     5
2     9
3    13
4    17
5    22
dtype: int64

In [20]:
delta=dates-pd.to_datetime('2011.1.1')

In [22]:
delta.dt.days

0      0
1     31
2     59
3     90
4    120
5    151
dtype: int64

In [23]:
dates.dt.second

0    0
1    0
2    0
3    0
4    1
5    0
dtype: int64

In [24]:
dates.dt.is_leap_year

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [25]:
datelist = pd.date_range('2019/08/21', periods=5)

In [26]:
datelist

DatetimeIndex(['2019-08-21', '2019-08-22', '2019-08-23', '2019-08-24',
               '2019-08-25'],
              dtype='datetime64[ns]', freq='D')

In [27]:
datelist = pd.date_range('2019/08/21', periods=5,freq='M')

In [28]:
datelist

DatetimeIndex(['2019-08-31', '2019-09-30', '2019-10-31', '2019-11-30',
               '2019-12-31'],
              dtype='datetime64[ns]', freq='M')

In [39]:
start = pd.datetime(2017, 11, 1)
end = pd.datetime(2017, 11, 5)
dates = pd.date_range(start, end,freq='d')

In [40]:
dates

DatetimeIndex(['2017-11-01', '2017-11-02', '2017-11-03', '2017-11-04',
               '2017-11-05'],
              dtype='datetime64[ns]', freq='D')